:root {
    // Colours
    --colour-dark-blue: #150C3F;
    --colour-darker-blue: 9, 2, 41;
    --colour-salmon: #DF787A;

    // Fonts
    --font-headings: 'Lemon', sans-serif;
    --font-standard: 'Nunito', sans-serif;
}

