<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
    <title><%- title %></title>
    <meta property="og:title" content="<%- description %>">
    <meta property="og:description" content="<%- description %>" />
    <meta name="description" content="<%- description %>" />
  </head>
  <body>
    <div class="page">
        <div class="bubbles" id="bubbles"></div>
        {{> header show_radio_roulette="true" }}
        <div class="content">
            <div class="left">
                <h1>Hey there, Andrew here!</h1>
                <div class="intro">
                    <p>I am a full-stack web developer and designer based in Norwich, UK. Please enjoy the bubbles while I put the finishing touches to my new website!</p>
                </div>
            </div>
            <div class="right">
                <figure class="headshot">
                    <img src="/images/me.png" alt="Andrew Haine"/>
                    <figcaption class="headshot__caption">Hey look, it's my face!</figcaption>
                </figure>
            </div>
        </div>
        {{> footer }}
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
