<div class="footer">
    <div class="footer__inner">
        <div class="footer__left">
            <p class="footer__copyright">
                &copy; <span class="date"></span> - Andrew Haine
            </p>
            <div class="footer__separator">|</div>
            <ul class="footer__logos">
                <li><a href="//www.twitter.com/Andrew_Haine" title="Follow me on Twitter" target="_blank" rel="noopener" class="social-icon social-icon--twitter replace">Twitter</a></li>
                <li><a href="//www.linkedin.com/in/andrew-haine" title="Let's connect on Linkedin" target="_blank" rel="noopener" class="social-icon social-icon--linkedin replace">Linkedin</a></li>
                <li><a href="//github.com/AndrewHaine" target="_blank" title="View my work on Github" rel="noopener" class="social-icon social-icon--github replace">Github</a></li>
                <li><a href="//www.instagram.com/andrew_haine/" target="_blank" title="Instagram" rel="noopener" class="social-icon social-icon--instagram replace">Instagram</a></li>
            </ul>
        </div>
        <div class="footer__right">
            <p>Privacy-focused analytics provided by <a href="https://usefathom.com/ref/KMHXMF" target="_blank" rel="noopener">Fathom</a></p>
        </div>
    </div>
</div>
