<div class="header">
    <div class="header__inner">
        <div class="header__logo">
            <a href="https://andrewhaine.co.uk">Andrew Haine</a>
        </div>
        {{#if show_radio_roulette }}
            <a href="https://howmanyspaces.com/norwich/?utm_source=andrewhaine.co.uk&utm_medium=banner" class="header__project-link project-link" target="_blank" rel="noopener">
                <figure class="project-link__image">
                    <img src="/images/how-many-spaces.png" alt="How Many Spaces Logo">
                </figure>
                <div class="project-link__content">
                    <p class="project-link__title">Latest project:</p>
                    <p class="project-link__content">Check out "How Many Spaces? - Norwich"</p>
                </div>
            </a>
        {{/if }}
    </div>
</div>
