<div class="header">
    <div class="header__inner">
        <div class="header__logo">
            <a href="https://andrewhaine.co.uk">Andrew Haine</a>
        </div>
        {{#if show_radio_roulette }}
            <a href="https://radioroulette.uk/?utm_source=andrewhaine.co.uk&utm_medium=banner" class="header__radio-roulette radio-roulette" target="_blank" rel="noopener">
                <figure class="radio-roulette__image">
                    <img src="/images/radio-roulette-logo.svg" alt="Radio Roulette">
                </figure>
                <div class="radio-roulette__content">
                    <p class="radio-roulette__title">Latest project:</p>
                    <p class="radio-roulette__content">Check out Radio Roulette!</p>
                </div>
            </a>
        {{/if }}
    </div>
</div>
