.radio-roulette {
    display: none;
}

@include respond(768px) {
    .radio-roulette {
        display: flex;
        align-items: center;
        padding: 12px 25px 10px 20px;
        background: rgba(var(--colour-darker-blue), .5);
        border-radius: 16px;

        &:hover {
            background: rgba(var(--colour-darker-blue, .8));
        }
    }
}

.radio-roulette__image {
    width: 75px;
    margin-right: 15px;
}

.radio-roulette__title {
    font-size: .9rem;
    font-weight: bold;
}

.radio-roulette__content {
    font-size: 1rem;
    font-weight: 100;
}
